*{

	font-family: arial;
}
form{margin-left: 33%;
	width:300px;
	height: 300px;
	text-align: center;
	padding: 15px;
	border:none;
	border-radius: 10px;
	box-shadow: 8px 7px;
	background-color: lightblue;
}
button{
	background-color: #58cc58;
	color:white;
	height:40px;
	border:none;
	width: 150px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 4px 4px;
}
#main{

	padding:15px;
}
input{


	box-shadow: 3px 3px;
	border:none;
	height: 25px;
width: 200px;

}